<!-- 新增任务 -->
<div class="container-fluid">
    <div class="info-center">
        <!--title-->
        <div class="info-center">
            <div class="page-header">
                <div class="pull-left">
                    <h4>{{.pageTitle}}</h4>
                </div>
                <div class="pull-right">
                    <!--  <button type="button" class="btn btn-mystyle btn-sm refresh">刷新</button>
                     <button type="button" class="btn btn-mystyle btn-sm reback">返回</button> -->
                </div>
            </div>
        </div>

    </div>


    <!--content-list-->
    <div class="content-list">
        <form action="{{urlfor " StorageController.Edit"}}" method="post" class="form-horizontal">
        <div class="form-group" style="margin-top: 15px">
            <label class="col-sm-3 control-label" for="storage_name">Наименование</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-sm" placeholder="" name="storage_name"
                       value="{{.storage.BranchName}}" required/>
            </div>
            <div class="col-sm-6" style="padding-top:5px;">

            </div>
        </div>

        <div class="form-group" style="margin-top: 15px">
            <label class="col-sm-3 control-label" for="description">Проект</label>
            <div class="col-sm-5">
                <select class="selectpicker" liveSearch=true name="project" class="form-control" id="ProjectID">

                    {{range $k, $project := $.projects}}
                    <option value="{{$project.ID}}">{{$project.Name}}</option>
                    {{end}}

                </select>
            </div>
            <div class="col-sm-4" style="padding-top:5px;">

            </div>
        </div>

        <div class="form-group" style="margin-top: 15px">
            <label class="col-sm-3 control-label" for="description">Описание</label>
            <div class="col-sm-5">
                <textarea name="description" class="form-control" id="description"
                          rows="3">{{.storage.Description}}</textarea>
            </div>
            <div class="col-sm-4" style="padding-top:5px;">

            </div>
        </div>
        <br/>
        <input type="hidden" name="id" value="{{.storage.ID}}"/>
        <div class="modal-footer" style="text-align:center">
            <button type="submit" class="btn btn-primary submit_attr_button">Сохранить</button>
            <button type="button" class="btn btn-default reback">Отмена</button>
        </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("form").submit(function () {
            $("button[type='submit']").attr('disabled', true);
            $.post('{{urlfor "StorageController.Edit"}}', $(this).serialize(), function (out) {
                if (out.status == 0) {
                    window.location.href = '{{urlfor "StorageController.List"}}';
                } else {
                    alert_message(out.msg, "alert-danger", "alert-success");
                    $("button[type='submit']").attr('disabled', false);
                }
            }, "json");
            return false;
        });
    });

</script>

<script>


    var ipp = {{.storage.ProjectID}};

    $('#ProjectID').selectpicker('val', ipp);
    console.log("text");
</script>